<!-- Simple form table -->
<%= week_calendar number_of_weeks: 1 do |date| %>
  <%= date %>
<% end %>

<br>

<%= week_calendar number_of_weeks: 1 do |date| %>
  <%= date+7 %>
<% end %>

<!-- Hand made table -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Monday</th>
              <th>Thuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saterday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th rowspan="2">Week 1</th>
              <th >Morning</th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
            </tr>
            <tr>
              <th>Evening</th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
            </tr>
            <tr>
              <th rowspan="2">Week 2</th>
              <th>Morning</th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
            </tr>
            <tr>
              <th>Evening</th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
              <th>
                <span class="button-checkbox">
                  <button type="button" class="btn" data-color="primary">INDISPO</button>
                  <input type="checkbox" class="hidden" />
                </span>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
